<footer>  
<div class="column">
<div class="footer_logo">
      <img src="/assets/DDAlogo.png" alt="logo">
    </div>

    <div class="footer_links">
      <ul>
        <li><a href="#Over-ons">Over ons</a></li>
        <li><a href="#Events">Events</a></li>
        <li><a href="#Publicaties">Publicaties</a></li>
        <li><a href="#Leden">Leden</a></li>
        <li><a href="#Vacatures">Vacatures</a></li>
        <li><a href="#Algemene-voorwaarden">Algemene Voorwaarden</a></li>
        <li><a href="#Privacybeleid">Privacybeleid</a></li>
        <li><a href="#Events">Events</a></li>
      </ul>
    </div>

    <div class="footer_address">
      <strong>
        <p>Dutch Digital Agencies</p>
      </strong>
      <ul>
        <li>Capital C</li>
        <li>Weesperplein 4B</li>
        <li>1018 XA Amsterdam</li>
        <li>(0)85 4010391</li>
        <li><a>info@dutchdigitalagencies.com</a></li>
      </ul>
    </div>
  </footer>

  <section class="footer_socials">
    <div class="socials">
      <a>Instagram</a>
      <a>Facebook</a>
      <a>Linkedin</a>
    </div>

    <div class="footer_bottom">
      <p>Copyright ⓒ 2024 Dutch Digital Agencies</p>
    </div>
  </div>
  </section>

</body>
</html>