{% render 'partials/head.liquid', title: 'Vacatures' %}

<header>
    <nav class="topnav">
      <img src="//assets/DDAlogo.png" alt="logo" class="logo">

       <div class="home">
        <a href="https://dutchdigitalagencies.com/">Home</a>


    </nav>
  </header>

  <header class="titles">
    <h1>ONZE VACATURES</h1>
    <p>Verslim je carrière bij de beste digitale bureaus van Nederland.
     Pak je rol als developer of designer, researcher, als scrum master of marketeer,
     als strateeg. Start of groei door – en laat zien wat je kan.</p>
  </header>


<form>
    <input type="text" class="zoek" id="search" name="search" placeholder="Zoek een vacature...">
    <select class="button">
        <option value="all">Expertise</option>
        <option value="frontend">Frontend Developer</option>
        <option value="backend">Backend Developer</option>
        <option value="fullstack">Fullstack Developer</option>
        <option value="designer">Designer</option>
        <option value="marketeer">Marketeer</option>
    </select>
    <select class="button">
        <option value="all">Uren</option>
        <option value="vol">Voltijd 38-40 uur</option>
        <option value="deel">Deeltijd 16-24 uur</option>
        <option value="stage">Stage</option>

    </select>
    <select class="button">
        <option value="all">Locatie</option>
        <option value="ams">Amsterdam</option>
        <option value="dh">Den Haag</option>
        <option value="ut">Utrecht</option>
        <option value="bre">Breda</option>
        <option value="hfd">Hooftdorp</option>
    </select>
    <select class="button">
        <option value="all">Taal</option>
        <option value="En">Engels</option>
        <option value="Nl">Nederlands</option>
    </select>
</form>

<main>
    <ul>
        {% for vacature in vacatures %}
        <li>
         <h2>{{vacature.title}}</h2>
            <p><span>ENG & NL</span><span>VALSPLAT</span><span>{{vacature.hours}}</span><span>{{vacature.locatie}}</span></p>
            <a href="{{vacature.url}}">Bekijken →</a>
        </li>
        {% endfor %}
    </ul>
</main>

</script>
{% render 'partials/footer.liquid' %}